<td><%= sub_category.name %></td>
<td class="has-text-right">
  <%= link_to edit_category_sub_category_path(sub_category.category, sub_category), remote: true,
        class: "hoverable-action" do %>
    <span class="icon">
      <i class="far fa-edit"></i>
    </span>
  <% end %>
  <%= link_to category_sub_category_path(sub_category.category, sub_category),
        method: :delete, remote: true, class: "hoverable-action indented",
        data: { controller: "link", action: "link#confirm",
                "link-confirm-message" => "Are you sure you wish to delete this Sub Category?" } do %>
    <span class="icon">
      <i class="far fa-trash-alt"></i>
    </span>
  <% end %>
</td>
