<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>New User Sign Up for: <strong><%= @user.email %></strong></p>
  </body>
</html>
