.flash-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1000;
  .columns {
    position: relative;
  }
  .column.flash {
    .level {
      background-color: $grey-darker;
      color: white;
      border-radius: 5px;
      .level-right a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .progress-bar {
      margin-top: -4px;
      height: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-animation-name: fill;
      animation-name: fill;
    }
  }
}

@-webkit-keyframes fill {
  from { width: 0% }
  to { width: 100% }
}

@keyframes fill {
  from { width: 0% }
  to { width: 100% }
}
