.modal.responsive {
  @include for-phone-only {
    .input, .select, .label {
      border-radius: 2px;
      font-size: .75rem;
    }
  }
}

.modal {
  @include for-phone-only {
    .modal-card-title {
      font-size: 1rem;
    }
  }
}
