tbody.collapsed {
  display: none;
}

.is-clickable {
  cursor: pointer;
}

.indented {
  margin-right: 28px;
}

.modal-card-foot {
  display: block;
}

#month_picker {
  display: flex;
  justify-content: center;
}

canvas {
  width: 100%;
  height: auto;
}

.overflowable {
  overflow-x: auto;
}

.button {
  @include for-phone-only {
    border-radius: 2px;
    font-size: .75rem;
  }
}

.breadcrumb-wrapper {
  display: flex;
  justify-content: space-between;

  .right-of-breadcrumb {
    display: flex;
    align-items: flex-start;
  }
}

.section {
  @include for-phone-only {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

table.category {
  thead th:not(:first-child) {
    border-left: 0;
  }
  thead th:not(:last-child) {
    border-right: 0;
  }

  @include for-phone-only {
    tbody tr {
      font-size: .8rem !important;
    }
  }
}

table.plaid-transactions tbody {
  tr:not(.imported):not(.ignored) {
    a.edit, a.unignore {
      display: none;
    }
  }
  tr.imported {
    border-left: 3px solid $green;
    color: $grey-light;
    a.import, a.ignore, a.unignore {
      display: none;
    }
  }
  tr.ignored {
    border-left: 3px solid $grey-light;
    color: $grey-light;
    a.import, a.ignore, a.edit {
      display: none;
    }
  }
}
