<section class="section">
  <div class="container">
    <% @categories.each do |category| %>
      <table class="table is-fullwidth" data-category-id="<%= category.id %>">
        <thead>
          <tr>
            <th><%= category.name %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% category.sub_categories.each do |sub_category| %>
            <%= render "sub_categories/sub_category", category: category, sub_category: sub_category %>
          <% end %>

          <tr>
            <td>
              <%= link_to new_category_sub_category_path(category),
                    class: "button is-link is-small", remote: true do %>
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>New Sub Category</span>
              <% end %>
            </td>
            <td></td>
          </tr>
        </tbody>

      </table>
    <% end %>
  </div>
</section>

<div data-container-for='modal'></div>
