<section class="section">
  <div class="container">
    <h1 class="title">
      Categories
      <%= link_to "New Category", new_category_path, class: "button is-primary is-pulled-right", remote: true %>
    </h1>

    <% @categories.each_with_index do |category, i| %>
      <div class="box">
        <table class="table is-fullwidth" data-controller="accordion"
          data-category-id="<%= category.id %>">
          <%= render category, collapsed: (i != 0) %>
        </table>
      </div>
    <% end %>

  </div>
</section>
