<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <%= link_to "Transactions", transactions_path %>
        </li>
        <li class="is-active">
          <%= link_to "Edit Transaction", "javascript:void(0)" %>
        </li>
      </ul>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Edit Transaction</h1>
    </div>

    <%= render "form" %>
  </div>
</section>
