<section class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">New Transaction</h1>
    </div>

    <div class="box">
      <%= render "form" %>
    </div>
  </div>
</section>
