<div class="modal" data-controller="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Send Invitation</p>
      <button class="delete" data-action="modal#close"></button>
    </header>
    <%= form_with model: resource, url: invitation_path(resource_name) do |f| %>
      <section class="modal-card-body">
        <% resource.class.invite_key_fields.each do |field| -%>
          <div class="field">
            <div class="control">
              <%= f.label field, class: "label" %>
              <%= f.text_field field, class: 'input' %>
            </div>
          </div>
        <% end -%>

      </section>
      <footer class="modal-card-foot">
        <a class="button is-link is-outlined" data-action="modal#close">
          <span class="icon">
            <i class="fas fa-ban"></i>
          </span>
          <span>Cancel</span>
        </a>

        <%= f.submit "Send", class: "button is-primary is-pulled-right" %>
      </footer>
    <% end %>
  </div>
  <button class="modal-close is-large" data-action="modal#close"></button>
</div>
